- var pageTitle = 'Penjelasan DotA Secara Umum'

include presentation-header

include menu

article#presentation
	section
		h1.bullet(margin-bottom:0;) Topik kita hari ini?
		ul(style="width:70%;margin-top:-20%;")
			li: img(src="../asset/image/dota_2_logo.png")
			
		
include presentation-footer
include main-footer
