- var pageTitle = 'Penjelasan DotA Secara Umum'

include presentation-header

include menu

article#presentation
	section
		h1.bullet(style="margin-bottom:-7%;") Topik kita hari ini?
		ul
			li.big: img.big(src="../asset/image/dota_2_logo.png")
			
	section
		h1.bullet <img src="../asset/image/dota_2_logo.png" style="width:800px;margin-top:-20%;margin-bottom:0;">
		ul
			li(style="font-weight:100;font-size:24px;") sebuah permainan <em>(sekarang disebut e-sport)</em> menggunakan strategi dimana kita mengendalikan sebuah hero dan harus saling bekerja sama dengan pemain lain yang ada dalam satu tim untuk dapat menang dalam war dengan tujuan akhir
			li(style="font-size:72px;") Menghancurkan Markas Musuh

	section
		p DotA itu seperti sepak bola, seperti basket, ataupun olah raga lainnya, map nya selalu sama, gaya permainnanya pun sama. Akan tetapi disetiap permainan kita mencari sebuah momentum, memainkan permainan indah layaknya sepak bola.

	section
		ul
			li DotA satu-satunya game online yang mampu membuat turnamen dunia yang hadiahnya pun mengejutkan atlet-atlet olahraga.
			li Terakhir di tahun 2014, DotA memberikan reward untuk tim NewBee. Merekalah yang menjadi tim DotA nomer 1 di dunia dan memenangkan $11 Million Dollars, angka yang sangat menakjubkan untuk sebuah game online.
			li <img src="../asset/image/money.jpg" style="height:300px;">
	section
		h1.bullet Jadi...
		ul
			li apakah sekarang anda tertarik untuk mempelajarinya?

	section
		h1 Let's Check it out!

	section
		h1.bullet Fundamental dalam Dota 2
		ul
			li Game mode
			li Aktor
			li Item
	
include presentation-footer
include main-footer
