- var pageTitle = 'Penjelasan DotA Secara Umum'

include presentation-header

include menu

article#presentation
	section
		h1.bullet(style="margin-bottom:-7%;") Topik kita hari ini?
		ul
			li.big: img.big(src="../asset/image/dota_2_logo.png")
			
	section
		h1.bullet <img src="../asset/image/dota_2_logo.png" style="width:800px;margin-top:-20%;margin-bottom:0;">
		ul
			li(style="font-weight:100;font-size:24px;") sebuah permainan <em>(sekarang disebut e-sport)</em> menggunakan strategi dimana kita mengendalikan sebuah hero dan harus saling bekerja sama dengan pemain lain yang ada dalam satu tim untuk dapat menang dalam war dengan tujuan akhir
			li(style="font-size:72px;") Menghancurkan Markas Musuh

	section
		p DotA itu seperti sepak bola, seperti basket, ataupun olah raga lainnya, map nya selalu sama, gaya permainnanya pun sama. Akan tetapi disetiap permainan kita mencari sebuah momentum, memainkan permainan indah layaknya sepak bola.

	section
		ul
			li DotA satu-satunya game online yang mampu membuat turnamen dunia yang hadiahnya pun mengejutkan atlet-atlet olahraga.
			li Terakhir di tahun 2014, DotA memberikan reward untuk tim NewBee. Merekalah yang menjadi tim DotA nomer 1 di dunia dan memenangkan $11 Million Dollars, angka yang sangat menakjubkan untuk sebuah game online.
			li <img src="../asset/image/money.jpg" style="height:300px;">
	section
		h1.bullet Jadi...
		ul
			li apakah sekarang anda tertarik untuk mempelajarinya?

	section
		h1 Let's Check it out!

	section
		h1.bullet Fundamental dalam Dota 2
		h2.bullet(style="color:white;") Game mode
		h2.bullet(style="color:white;") Aktor
		h2.bullet(style="color:white;") Item
	
	section
		h1.bullet Game Mode 
		h2.bullet(style="color:white;") - All Pick -
		ul
			li All Heroes are available to all players.  All players have 1 minute to pick their heroes.  A player can also choose to "random" a hero, which will (you guessed it) choose a random Hero for the player, as well as give the player a bonus 250 starting gold.  This is the mode used in the current matchmaking system.
	
	section
		h1.bullet Game Mode
		h2.bullet(style="color:white;") - Captain's Mode - 
		ul
			li Two players, one from each team (blue for radiant, pink for dire), take turns banning and picking Heroes for their team.  Banning a hero removes it from the pool, making it unavailable to pick for either team. This is the usual mode for organized and competitive games.   
	
	section
		h1.bullet Game Mode
		h2.bullet(style="color:white;") - Single Draft - 
		ul
			li Each player selects a Hero from a set of three heroes randomly chosen for them (1 of each Strength, Agility, Intelligence).

	section
		h1.bullet Game Mode
		h2.bullet(style="color:white;") - Random Draft - 
		ul
			li Players take turns selecting a Hero from a shared pool of 20 random heroes.

	section
		h1.bullet Game Mode
		h2.bullet(style="color:white;") - All Random - 
		ul
			li Players are automatically assigned a random hero. A player can repick once to get a new random hero.

	section
		h1.bullet Game Mode
		h2.bullet(style="color:white;") - Mid Only - 
		ul
			li Players can pick any hero, even the same as other players.  Creeps only spawn in the middle lane. This mode is great for 1v1 matchups and game modes such as Pudge Wars.

	section
		h1.bullet Game Mode
		h2.bullet(style="color:white;") - Least Played - 
		ul
			li Players choose from a list of their least played heroes. This mode is great for learning new heroes since everyone will be on equal footing. The pool limits each player's heroes, by blocking their 40 most player heroes. [1]

	section
		h1 Game Mode
		h2.bullet(style="color:white;") - Random Ability Draft -
		ul
			li When Account Levels reach 11, players can play games where everyone takes turns drafting random abilities. Initial hero models are randomly assigned.

	section
		h1 Game Mode
		h2.bullet(style="color:white;") - Diretide -
		ul
			li All heroes are picked in the same manner as All Pick. However, the game objective is to collect more taffy in your bucket than the enemy team. Greevil Taffy is dropped by smaller models of Roshan, and decrease Hero HP by 7% while held. They can be stolen from the enemy bucket and drop upon Hero death.  Throughout the later stages of the game, Roshan roams the map, demanding candy or he will attack.  During the Sugar Rush final stage, Roshan becomes a defeatable boss with unique abilities and a massive amount of health.  This mode was added in for Halloween 2012 and again for Winter Holidays 2013 and is no longer playable. Most recipes can be acquired through this mode.

	section
		h1 Game Mode
		h2.bullet(style="color:white;") - Greeviling -
		ul
			li  All heroes are picked in the same manner as All Pick. However, before each game, each player can also choose a Greevil courier to transform into. Greevils have unique abilities and stats, along with a separate health bar which regenerates when the Greevil form is benched. Naked Greevils with random abilities are assigned if a player does not have a Greevil. During the game, Mega-Greevils spawn in camps around the map. Players must defeat these greedy Greevils for presents containing items. The first to reach 11 Greevil camps kills wins the game. This mode was added in for Winter Holidays 2012 and is no longer playable.

	section
		h1 Game Mode
		h2.bullet(style="color:white;") - Wraith Night -
		ul
			li Certain heroes are picked at the start of the match. 5 Players defend the Wraith King's throne from themed waves of monsters.  During the game gold is collected by protecting towers and killing enemies.  The final three waves consist of defeating the Wraith King, a powerful boss. This mode was added in for Winter Holidays 2013 and is no longer playable. 
	
include presentation-footer
include main-footer
