- var pageTitle = 'Penjelasan DotA Secara Umum'

include presentation-header

include menu

article#presentation
	section
		h1.bullet(style="margin-bottom:-7%;") Topik kita hari ini?
		ul
			li.big: img.big(src="../asset/image/dota_2_logo.png")
			
		
include presentation-footer
include main-footer
