- var pageTitle = 'Penjelasan DotA Secara Umum'

include presentation-header

include menu

article#presentation
	section
		h1.bullet(style="margin-top:-30%;") Apa itu Dota 2?
		
		
include presentation-footer
include main-footer
