- var pageTitle = 'Penjelasan DotA Secara Umum'

include presentation-header

include menu

article#presentation
	section
		h1.bullet(style="margin-bottom:-7%;") Topik kita hari ini?
		ul
			li.big: img.big(src="images/dota_2_logo.png")
			
	section
		h1.bullet <img src="images/dota_2_logo.png" style="width:800px;margin-top:-20%;margin-bottom:0;">
		ul
			li(style="font-weight:100;font-size:24px;") sebuah permainan <em>(sekarang disebut e-sport)</em> menggunakan strategi dimana kita mengendalikan sebuah hero dan harus saling bekerja sama dengan pemain lain yang ada dalam satu tim untuk dapat menang dalam war dengan tujuan akhir
			li(style="font-size:72px;") Menghancurkan Markas Musuh

	section
		p DotA itu seperti sepak bola, seperti basket, ataupun olah raga lainnya, map nya selalu sama, gaya permainnanya pun sama. Akan tetapi disetiap permainan kita mencari sebuah momentum, memainkan permainan indah layaknya sepak bola.

	section
		ul
			li DotA satu-satunya game online yang mampu membuat turnamen dunia yang hadiahnya pun mengejutkan atlet-atlet olahraga.
			li Terakhir di tahun 2014, DotA memberikan reward untuk tim NewBee. Merekalah yang menjadi tim DotA nomer 1 di dunia dan memenangkan $11 Million Dollars, angka yang sangat menakjubkan untuk sebuah game online.
			li <img src="images/money.jpg" style="height:300px;">
	section
		h1.bullet Jadi...
		ul
			li apakah sekarang anda tertarik untuk mempelajarinya?

	section
		h1 Let's Check it out!

	section
		h1.bullet Fundamental dalam Dota 2
		h2.bullet(style="color:white;") Game mode
		h2.bullet(style="color:white;") Aktor
		h2.bullet(style="color:white;") Item
	
	section
		h1.bullet Game Mode 
		h2(style="color:white;") - All Pick -
		ul
			li Semua hero dapat digunakan.  
			li Semua pemain diberikan waktu 1 menit untuk memilih hero.  
			li Pemain juga dapat memilih <em stlye="color:white;">"Random"</em> yang akan memberikan hero secara acak dan bagi pemain yang "Random" akan mendapat bonus 250G di awawl permainan.
	
	section
		h1.bullet Game Mode
		h2(style="color:white;") - Captain's Mode - 
		ul
			li Satu dari masing - masing tim<em style="color:white;">(Kapten Tim)</em>, secara bergantian memilih hero untuk timnya dan memblokir hero sehingga tidak dapat digunakan dalam permainan.
			li Mode ini biasa digunakan di turnamen.

	section
		h1.bullet Game Mode
		h2(style="color:white;") - All Random - 
		ul
			li Semua pemain diberikan hero secara Acak. 
			li Pemain dapat mengacak ulang hero mereka sebanyak 1x, namun akan dikenakan penalti gold.
	section
		h1.bullet Game Mode
		h2(style="color:white;") - Mid Only - 
		ul
			li Pemain dapat memilih hero yang sama dengan pemain lain.  
			li Creeps hanya muncul di lane tengah. 
			li mode ini sangat cocok untuk permainan 1 lawan 1 (apalagi both pudge atau both mirana :D)

	section
		h1.bullet Actor
		ul(style="color:white;")
			li Heroes
			li Creeps
			li Buildings

	section
		h1 Actor
		h2.bullet(style="color:white;") - Heroes -
		ul
			li Hero adalah aktor utama dalam permainan ini. 
			li Segala sesuatu yang terjadi bergantung pada mereka
			li Pemain dibagi 2 tim dengan anggota 5 orang dan masing - masing pemain dapat mengendalikan 1 hero. 
			li Masing - masing hero mempunyai kemampuan yang berbeda, sehingga cara memainkannya juga akan berbeda.
			li Selama permainan hero akan mendapatkan <em style="color:white;">Experience</em>.
			li Ketika <em style="color:white">Experience</em> cukup, hero akan naik level dan dapat mempelajari kemampuan baru.
			li Hero dapat memiliki item untuk memperkuat diri
	
	section
		h1 Actor
		h2.bullet(style="color:white;") - Creeps -
		ul
			li Creeps adalah sebuah unit yang dapat berinteraksi dengan hero(Menyerang/Diserang).
			li Creeps secara default tidak dapat dikendalikan(Kecuali dengan item seperti <em style="color:white;">helmet of the dominator</em> atau kemampuan khusus hero seperti <em style="color:white;">Chen dan Enchantress</em>).
			li Ada 2 jenis creeps, <em style="color:white;">Lane Creeps dan Neutral Creeps</em>. 
			li Kedua type creep dapat dibunuh untuk mendapatkan <em style="color:white;">Experience dan Gold</em>. 

	section
		h1 Actor
		h2.bullet(style="color:white;") - Buildings -
		ul
			li Buildings adalah unit khusus yang tidak dapat dikenai skill(kecuali skill2 khusus seperti <em style="color:white;">Bombnya Techies atau Nether Blastnya Pugna</em>), 
			li Jenis Armor fortified, dan immobile(tidak dapat bergerak). 
			li Sama seperti creeps, menghancurkan buildings mendapatkan <em style="color:white;">experience dan gold</em>.
	
	section
		h1 Item
		h2.bullet(style="color:white;") - Penjelasan umum -
		ul
			li dapat dibeli dari "Shop" ataupun drop dari Roshan
			li memberikan bonus status, kemampuan baru atau fungsi umum pada semua hero(kecuali aghanim's scepter)
			li jenisnya banyak dan sangat berbeda antara satu dengan yang lain

	section
		h1 Item
		h2.bullet(style="color:white;") - Kegunaan -
		ul
			li memberikan bonus status dan attribute pada hero (str,agi,int,damage,dll)
			li memberikan efek khusus(aura) yang menguntungkan bagi kawan maupun merugikan lawan
			li memberikan skill tambahan pada hero(dagon scepter, shadow blade,etc)

include presentation-footer
include main-footer
