- var pageTitle = 'Role'

include presentation-header

include menu

article#presentation

	section
		h1.bullet Role
		p <em>Wait... I want to role my bicycle? (&#865;&deg; &#860;&#662; &#865;&deg;)</em>
	section
		h1.bullet Jadi, Apa pula itu Role?
		ul
			li Peranan ataupun Fungsionalitas yang sesuai Hero tersebut.
			li Satu hero bisa saja memiliki <b>satu atau banyak</b> Role.
			li Jenis-jenis Role itu sendiri pun banyak jumlahnya.
			li Salah terapkan Role pada Hero, Selamat! Anda akan <b>GG</b>.
	section
		h1.bullet Macam-macam Role
		p.bullet 1.Carry<br>2.Lane Support<br>3.Initiator<br>4.Jungler<br>5.Support<br>6.Durable<br>7.Nuker<br>8.Pusher<br>9.Escape
	section
		h1.bullet 1. Carry
		p <em>"Will become more useful later in the game if they gain a significant gold advantage."</em>
		hr
		p.bullet Tipe Hero yang bertugas sebagai "kendali" pada klimaks permainan <em>(Late Game)</em>.
		p.bullet Dapat menghasilkan Damage "Dewa".
		p.bullet Motto : <em>Money, Money, and More Money.</em>
		p.bullet Hero dengan Role ini harus dijaga oleh Tim dari awal permainan <em>(Early Game)</em> agar "kembang".
	section
		h1.bullet Contoh Hero Carry :
		img.big(src="images/carry.png")
	section
		h1.bullet 2. Lane Support
		p <em>"Helpful in the early-game laning in protecting your team's carry."</em>
		hr
		p.bullet Role ini dapat disebut juga sebagai "babysitters".
		p.bullet Tipe Hero yang menjaga Hero Carry agar dapat "kembang" pada awal permainan <em>(Early Game)</em>.
		p.bullet Dilengkapi dengan kemampuan untuk menghambat lawan ataupun mengisi <em>Health</em> atau <em>Mana</em> rekannya.
		p.bullet Tidak disarankan <em>"berduet"</em> dengan Hero dengan Role lain. (Buat Apa Coba?)
	section
		h1.bullet 3. Disabler
		p <em>"Has a guaranteed disable for one or more of their spells."</em>
		hr
		p.bullet Role ini bertugas sebagai <em>Crowd Control</em> Tim Lawan.
		p.bullet Memudahkan Hero Carry dalam melakukan <em>Kill</em> Hero Lawan.
		p.bullet Memiliki kemampuan menonaktifkan fungsionalitas tertentu Hero Lawan untuk sementara.
		p.bullet Role ini memiliki kecepatan pergerakan yang relatif lambat sehingga mudah dihindari lawan.
	
include presentation-footer
include main-footer