- var pageTitle = 'Warding'

include presentation-header

include menu

article#presentation

	section
		h1.bullet Sebelum ke Warding...
		p Pernahkah kalian mengalami hal seperti dibawah ini?
		hr
		ul
			li <em>"Gila gelap benar map di DotA 2."</em>
			li <em>"Gila gue mati terus di gank lawan."</em>
			li <em>"Gue takut maju.. abisnya lawan pada gak keliatan di map nih bro!!</em>
	section
		h1.bullet Sebelum ke Warding...
		p Atau pas kamu main hero support , pernah diginiin?
		hr
		ul
			li <em>"We need wards!!"</em>
			li <em>"Woe wards woee!"</em>
			li Atau mungkin yang <strong>paling parah</strong>: 
			li <em>"F*cking noob support.. No wards !! Putang ina !! Bobo!!"
	section
		p Lalu apa sebenarnya kaitan itu semua dengan Warding??
		
include presentation-footer
include main-footer
