- var pageTitle = 'Hero Guide : Sniper'

include presentation-header

include menu

article#presentation

	section
		h1 SNIPER
		p Ranged - <strong>Carry</strong>
		img.big(src="images/sniper_full.png")

	section
		h2 OVERVIEW
		hr
		img.big(src="images/sniper_stat.png")

	section
		h2 BIO
		hr
		p(style="border:3px solid green;text-align:justify;font-size:18px")
			Kardel Kardel Sharpeye was born deep in the mountains of Knollen where, since time immemorial, Keen Folk have survived by hunting the strange, cliff-dwelling steepstalkers above their village, shooting them from a distance and collecting the carcasses where they fell. Sharpeye was among the best of these strange mountain keens for whom projectile weapons are but another appendage, and to shoot is as natural as to touch. On his day of summoning, when he was to gain full standing in his village, Sharpeye took the ancient test: a single shot from the valley floor to strike a beast down from the cliffs. To miss was to be dishonored. With his entire village standing vigil, Sharpeye took his shot. A steepstalker fell; the crowd cheered. But when the carcass was collected, the village grew silent, for the elders found that the bullet had pierced its glittering central eye then fallen to be clenched in the steepstalker's mandibles. This ominous sign was the literal opening of a dark prophecy, foretelling both greatness and exile for the gunman who made such a shot. Sharpeye the Sniper was thus, by his own skill, condemned to make his way apart from his people and unwelcome back among them until he has fulfilled the remainder of the prophecy by attaining legendary stature on a field of battle.
			
	section
		h2 SKILL
			
	section
		h2 Shrapnel (Active)
		img.big(src="images/sniper_shrapnel.png")
		p(style="border:3px solid green;text-align:justify;font-size:18px") Fires a ball of shrapnel that showers the target area in explosive pellets. Enemies are subject to damage and slowed movement. Reveals the targeted area. <br>Radius : 400<br>Cast Range : 1800<br>Effect Radius : 450<br>Damage per Second : 12 / 24 / 36 / 48<br>Move Speed Slow : 15% / 20% / 25% / 30%<br>Slow Duration : 2, Shrapnel Duration : 10<br>Number of Charges : 3, Charge Restore Time : 55<br>Mana Cost : 50, Cooldown Time : 40<br>
		
	section
		h2 Headshot (Passive)
		img.big(src="images/sniper_headshot.png")
		p(style="border:3px solid green;text-align:justify;font-size:18px") Sniper increases his accuracy, giving a chance to deal extra damage and slow.<br>Slow Duration : 0.5<br>Chance : 40%<br>Move Speed Slow : 100%<br>Attack Speed Slow : 100<br>Damage Bonus : 15 / 40 / 65 / 90
		
	section
		h2 Take Aim (Passive)
		img.big(src="images/sniper_take_aim.png")
		p(style="border:3px solid green;text-align:justify;font-size:18px") Extends the attack range of Sniper's rifle.<br>Range Bonus : 100 / 200 / 300 / 400<br>Total range : {650/750/850/950}<br>Level 3 and 4 of this ability allow  Sniper to out-range towers.

	section
		h2 Assassinate (Active)
		img.big(src="images/sniper_assassinate.png")
		p(style="border:3px solid green;text-align:justify;font-size:18px") Sniper locks onto a target enemy unit, and after 1.7 seconds, fires a devastating shot that deals damage at long range.<br>Range : 2000 / 2500 / 3000<br>Damage : 320 / 485 / 650<br>Mana Cost : 175 / 275 / 375<br>Cooldown Time : 20 / 15 / 10
		
	section
		h2 Item Build for Noob
		img(src="images/badluck.jpg")
		
	section
		h2 Early Item
		img(src="images/early.png")
		
	section
		h2 Penjelasan
	
	section
		h2 Tango
		img(src="images/tango.png") 
		p Salah satu item healing utama yang akan dibeli oleh hero di early game agar dapat bertahan lama di lane.
		
	section
		h2 Healing Salve
		img(src="images/healing_salve.png") 
		p Sama seperti tango,tetapi memiliki tingkat regenerasi Hp yang lebih cepat dibandingkan dengan Tango. Dibeli di early game agar dapat bertahan lama di lane.
		
	section
		h2 Iron Branch
		img(src="images/iron_branch.png") 
		p Item utama untuk early game yang sangat murah, hanya 50 gold dan berfungsi untuk menambah semua status sebesar +1.
		
	section
		h2 Ring of Protection
		img(src="images/ring_of_protection.png") 
		p Disarankan untuk membeli Ring of Protection pada early game, disebabkan karena darah sniper yang sangat tipis. Menambah armor sebesar +3.
		
	section
		h2 Mid Item
		img(src="images/mid.png")
	
	section
		h2 Penjelasan
	
	section
		h2 Ring of Basilius
		img(src="images/ring-of-basilius.png") 
		p(style="border:3px solid green;text-align:justify;font-size:18px") Item yang penting untuk mempercepat regenerasi mana agar dapat nge-spam skill. Menambah +6 Damage, +3 Armor, dan mana regen +0,65.
		
	section
		h2 Boots of Speed
		img(src="images/boots-of-speed.png") 
		p(style="border:3px solid green;text-align:justify;font-size:18px") Item utama untuk seluruh hero, untuk mempercepat Movespeed. Item yang harus cepat dibeli oleh sniper yang rentan terhadap ganking, agar meningkatkan survivability sniper. +50 Movespeed
		
	section
		h2 Ring of Aquila
		img(src="images/ring-of-aquila.png") 
		p(style="border:3px solid green;text-align:justify;font-size:18px") Upgrade dari Ring of Basilius, untuk menambah status dan juga regenerasi mana. Menambah +3 Strength, +9 Agility, +3 Intelligence, +9 Damage, +3 Armor dan mana regen +0,65.
		
	section
		h2 Phase Boots
		img(src="images/phase-boots.png") 
		p(style="border:3px solid green;text-align:justify;font-size:18px") Sepatu yang pas untuk sniper yang memiliki movespeed lambat dan juga menambah damage. Menambah +50 Movespeed +24 Damage dan jika item diaktifkan maka akan mendapat tambahan movespeed 16% dengan durasi 3,6 detik.

	section
		h2 Bracer
		img(src="images/bracer.png") 
		p(style="border:3px solid green;text-align:justify;font-size:18px") Item penambah status yang cocok untuk sniper yang memiliki HP yang sedikit. +6 Strength, +3 Agility, +3 Intelligence, +3 Damage.
		
	section
		h2 Mask of Madness
		img(src="images/Mask-of-Madness.png") 
		p(style="border:3px solid green;text-align:justify;font-size:18px") Item yang penting untuk sniper yang memiliki attack speed yang lambat, dengan item ini didukung skill Headshot akan membuat Sniper menjadi carry yang mengerikan asalkan tetap jaga jarak dengan hero lawan. Jika diaktifkan akan menambah +100 attack speed, +17% movespeed tetapi akan mendapat extra damage sebesar 30%, dengan durasi 12 detik. Dan juga lifesteal sebesar 20%.
	
	section
		h2 Late Item
		img(src="images/late.png")
	
	section
		h2 Penjelasan
		p Begitu banyak item yang cocok untuk Sniper. Jadi silahkan pilih item yang cocok dengan Gameplay Anda.
		
	section
		h2 Black King Bar
		img(src="images/Black-King-bar.png") 
		p(style="border:3px solid green;text-align:justify;font-size:18px")	Item yang harus dibeli jika banyak Disabler lawan. Jika diaktifkan item ini berfungsi untuk mendapat Spell Immunity dan 100% Magic Damage Resistance. Menambah +10 Strength dan +24 Damage.
		
	section
		h2 Butterfly
		img(src="images/Butterfly.png") 
		p(style="border:3px solid green;text-align:justify;font-size:18px")	Item yang harus dibeli untuk semua carry-agi. Menambah +30 Agility, +30 Damage, +35% Evasion, +30 Attack Speed. Jika diaktifkan akan mengubah evasion menjadi 25% MoveSpeed selama 6 detik.
		
	section
		h2 Crystalys
		img(src="images/Crystalys.png") 
		p(style="border:3px solid green;text-align:justify;font-size:18px")	Item yg dapat memberikan peluang untuk critical damage sebesar 175% dengan peluang untuk setiap pukulan 20%. Menambah +30 Damage.
		
	section
		h2 Daedalus
		img(src="images/Daedalus.png") 
		p(style="border:3px solid green;text-align:justify;font-size:18px")	Item yang diupgrade dari Crystalys menambah peluang untuk critical damage sebesar 240% dengan peluang 25%. Menambah +81 Damage.
		
	section
		h2 Eul's Scepter of Divinity
		img(src="images/Euls-Scepter-of-Divinity.png") 
		p(style="border:3px solid green;text-align:justify;font-size:18px")	Item yang menambah +40 MoveSpeed, dan juga meregenerasikan mana sebesar 150% dengan bonus +10 Intelligence. Jika diaktifkan akan menerbangkan target dan akan invulnerable selama 2,5 detik. Item yang cocok untuk Sniper agar meningkatkan survivability Sniper dan dapat menge-spam spell.
	
	section
		h2 Eye of Skadi
		img(src="images/Eye-of-Skadi.png") 
		p(style="border:3px solid green;text-align:justify;font-size:18px") Item yang sangat kuat dan mahal, disarankan untuk membeli nya jika sudah yakin. Item ini sangat mengerikan jika dipakai oleh sniper karena MoveSpeed dan AttackSpeed lawan yang ditembak oleh sniper akan berkurang sebesar 35% untuk MoveSpeed dan -45 untuk AttackSpeed dengan durasi 2,5 detik. Juga menambah status yang sangat gede yaitu +25 Strength, +25 Agility, +25 Intelligence, +250 HP dan +250 Mana.
	
	section
		h2 Maelstrom
		img(src="images/Maelstrom.png") 
		p(style="border:3px solid green;text-align:justify;font-size:18px") Item yang bagi player yang suka dengan Attack Speed, manambah +25 Attack Speed dan +24 Damage. Item ini dapat memberikan peluang 25% untuk mengeluarkan Chain Lightning yang meng-hit 4 target lawan dengan damage sebesar 120 per target.
		
	section
		h2 Satanic
		img(src="images/Satanic.png") 
		p(style="border:3px solid green;text-align:justify;font-size:18px") Item yang kuat dan juga mahal. Dengan membeli item ini, Sniper akan susah untuk di kill karena dengan lifesteal dari item ini yang sangat ganas sebesar 175% dengan durasi 3,5 detik dan juga menambah +25 Strength, +20 Damage +5 Armor dan 25% Lifesteal.

	section
		h2 Shadow Blade
		img(src="images/Shadow-Blade.png") 
		p(style="border:3px solid green;text-align:justify;font-size:18px")	Item yang cocok untuk sniper yang tidak memiliki skill untuk kabur jika di ganking. Item ini berfungsi untuk membuat pengguna menghilang(invisible) dan menambah 20% movespeed selama 14 detik. Item ini menambah +22 Damage dan +30 Attack Speed.
	
	section
		h2 Strategy
		
	section
		h2 Early
		p(style="border:3px solid green;text-align:justify;font-size:18px") Untuk Strategy Early Game, pilihlah lane, saya sarankan mengambil Lane bawah jika Radiant atau Lane atas jika Dire agar lebih susah untuk di ganking lawan. Jika pilih mid saya sarankan untuk fokuskan untuk menaikkan skill Shrapnel dan Take Aim agar tetap menjaga jarak dengan hero musuh yang biasanya adalah nuker. Untuk Lane atas jika Radiant atau Lane bawah jika Dire, satu lane lah dengan support yang kuat karna resiko terkena ganking pada lane tersebut sangat tinggi dengan melihat Sniper tidak memiliki skill untuk kabur. Lane manapun yang kamu pilih, tetaplah main safe dan kumpulkan uang untuk secepatnya membeli Phase Boots. Dan tetap spam Shrapnel setiap mana penuh agar hero lawan tidak berani mendekati area yang kamu Shrapnel. Usahakan mengambil Kill sebanyak mungkin jika memungkinkan, dan pastinya creeping sebanyak mungkin.
	
	section
		h2 Mid
		p(style="border:3px solid green;text-align:justify;font-size:18px") Untuk Mid Game, tetap main safe, jangan sampai kena ganking karena akan berdampak buruk untuk Late Game kamu. Tetap stay dengan teman support kamu dan fokus untuk creeping dan kalau bisa kill hero dengan Assassinate kamu yang sangat jauh range nya. Untuk Mid Game setidaknya kamu sudah membeli Mask of Madness untuk memberi peluang kill yang lebih besar dan secepatnya menghancurkan tower lawan.
		
	section
		h2 Late
		p(style="border:3px solid green;text-align:justify;font-size:18px") Nah, akhirnya sampai juga ke masa kejayaan Sniper. Sniper adalah carry yang sangat mengerikan di Late Game, tergantung dengan gaya permainan kamu di Early dan Mid. Untuk di Late, tetaplah bersama teman" kamu, karena banyak terjadi WAR pada Late Game, dan yang harus kamu lakukan adalah menjaga jarak saat WAR berlangsung, pastikan untuk membunuh hero" lawan dan jangan lupa dengan Skill Assassinate yang kamu punya untuk membunuh hero lawan yang mencoba untuk kabur ;)
		
	section
		h2 Best "Friends"
		
	section
		h2 Warders
		p(style="border:3px solid green;text-align:justify;font-size:18px") Hero2 yg punya skill ward dan smacamnya akan sangat menghemat pengeluaranmu membeli ward. Km ga perlu se line sm mreka, mreka hanya memasang atau membawa ward nya ke line mu, atau Hero summoner yang bisa menggunakan unitnya untuk scouting (mata-mata).
		
	section
		h2 Contoh Hero Warders
		img(src="images/Visage.png")
		img(src="images/Beastmaster.png")	
	
	section
		h2 Disabler
		p(style="border:3px solid green;text-align:justify;font-size:18px") Karena Sniper adalah hero carry, jd disabler sgt menguntungkan, dengan skill disabler nya , Sniper bisa melontarkan lebih banyak serangan.
		
	section
		h2 Contoh Hero Disabler
		img(src="images/Crystal_Maiden.png")
		img(src="images/Shadow_Shaman.png")
		
	section
		h2 Slower
		p(style="border:3px solid green;text-align:justify;font-size:18px") Jika ada Hero slower, hero lawan akan ngerasain sakitnya mati perlahan-lahan.
		
	section
		h2 Contoh Hero Slower
		img(src="images/Drow_Ranger.png")
		img(src="images/Viper.png")

	section
		h2 Tanker
		p(style="border:3px solid green;text-align:justify;font-size:18px") Sniper memiliki darah yang sangat minim, bagaimana coba kalau dia yang menjadi sasaran hit. Jadi paling tidak ada 1 Tanker yang berani mengorbankan dirinya dihit oleh hero lawan.
		
	section
		h2 Contoh Hero Tanker
		img(src="images/Axe.png")
		img(src="images/Centaur_Warrunner.png")		
		
include presentation-footer
include main-footer