nav(class="navbar navbar-inverse", role="navigation")
	div(class="container")
		div(class="navbar-header")
			button(type="button", class="navbar-toggle", data-toggle="collapse", data-target="presentation-chooser")
				span(class="sr-only")
				span(class="icon-bar")
				span(class="icon-bar")
				span(class="icon-bar")
			a(class="navbar-brand", href="index.html") Presentasi

		div(class="collapse navbar-collapse", id="presentation-chooser")
			ul(class="nav navbar-nav")
				li(class="dropdown")
					a(class="dropdown-toggle", data-toggle="dropdown", href="#") Pilih Subtopik <b class="caret"></b>
					ul(class="dropdown-menu")
						li <a href="1Penjelasan.html">Penjelasan DotA 2 Secara Umum</a>
						li <a href="2Role.html">Role</a>
						li <a href="3Warding.html">Warding</a>
						li <a href="4Sniper.html">Hero Guide : Sniper</a>